.jumbotron{
  color: white;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer{
  height: 35vh;

}
