.nav-item{
  border-bottom: solid;
  border-color: #bbb;
  border-width: thin;
  margin: 0 5px 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown-menu{
  border: none;
  border-radius: 0;
  background-color: #eee;

}

.dropdown-item .nav-item{
 border: none;
}

.jumbotron{
  color: white;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.footer{
  min-height: 35vh;

}

.footer-list{
  list-style: none;
  padding-left: 0;
}

.hr-light{
  border-color: white;
  border-width: thick;
  width: 50px;
  margin-left: 0
}

.hr-dark{
  border-color: #bbb;
  border-width: thick;
  width: 3em;
  margin-left: 0
}

/* Text sizing */

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  .display-1 {
    font-size: 3rem;
  }
  .display-2{
      font-size: 2.5rem;
    }
  .display-3{
        font-size: 1.5rem;
      }
  .display-4{
        font-size: 1.0rem;
      }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .display-1 {
    font-size: 4rem;
  }
  .display-2{
      font-size: 3.5rem;
    }
  .display-3{
        font-size: 2.5rem;
      }
  .display-4{
        font-size: 1.5rem;
      }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .display-1 {
    font-size: 5rem;
  }
  .display-2{
      font-size: 4.5rem;
    }
  .display-3{
        font-size: 2.0rem;
      }
  .display-4{
        font-size: 2.5rem;
      }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  .display-1 {
    font-size: 6rem;
  }
  .display-2{
      font-size: 5.5rem;
    }
  .display-3{
        font-size: 2.5rem;
      }
  .display-4{
        font-size: 3.5rem;
          }
        }

        @media (max-width: 767px) {
          .partners {
                text-align: center;
            }
        }
